<a href="https://colab.research.google.com/github/viett887g/bai-tap-1/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1

In [2]:
import numpy as np
np_vetor= np.array([5,7,14])
print(np_vetor)

[ 5  7 14]

In [ ]:
Mở rộng không gian lên R15, điểm A trong không gian này có tọa độ là (1, 2, 3, 4, 5, 6, 7,
8, 9, 10, 11, 12, 13, 14, 15). Hãy khởi tạo điểm A trong không gian 15 chiều này bằng Numpy.

In [3]:
import numpy as np
np_vetor= np.array([1, 2, 3, 4, 5, 6, 7,
8, 9, 10, 11, 12, 13, 14, 15])
print(np_vetor)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [ ]:
Trong không gian Rn

, xét vector OA⃗⃗⃗⃗⃗ , với O là điểm gốc tọa độ và A là điểm có tọa độ tổng
quát là (a1, a2, ..., an). Vector OA⃗⃗⃗⃗⃗ lúc này được viết dưới dạng vector cột (column vector) là:

In [5]:
import numpy as np
np_vetor= np.array([1,5,3])
print(np_vetor)

[1 5 3]

In [ ]:
4

In [43]:
import numpy as np
asd=np.array([[1]
             ,[2]
             ,[3]])
print(asd)

[[1]
 [2]
 [3]]

In [44]:
o=np.sqrt(asd^2)
print(o)

[[1.73205081]
 [0.        ]
 [1.        ]]

In [ ]:
5

In [8]:
import numpy as np
a=np.array([1,7,3])
b=np.array([4,4,1])
c=b-a
print(c)

[ 3 -3 -2]

In [18]:
d=np.sqrt((b-a)^2)
print(d)

[ 1. nan nan]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

In [ ]:
6

In [24]:
import numpy as np
ab=np.inner(a,b)
print(ab)

35

In [ ]:
7

In [25]:
import numpy as np
aab = np.cross(a,b)
print(aab)

[ -5  11 -24]

In [ ]:
8

In [42]:
import numpy as np
m= int(input("sgs="))
n=1/m
print(n)

sgs=1 2 3

ValueError: ignored

In [ ]:
9

In [57]:
import numpy as np
vector_a =np.array([1, 2, 3, 4, 5])
vector_b =np.array([[1], [2], [3], [4], [5]])
print("vector_a=",vetor_a)
print("vector_b=",vector_b)
vector_c = vector_a +vector_b
print("vector_c=",vector_c)

vector_a= [1, 2, 3, 4, 5]
vector_b= [[1]
 [2]
 [3]
 [4]
 [5]]
vector_c= [[ 2  3  4  5  6]
 [ 3  4  5  6  7]
 [ 4  5  6  7  8]
 [ 5  6  7  8  9]
 [ 6  7  8  9 10]]

In [ ]:
10

In [62]:
a=np.array([1,4,5])
b=np.array([5,2,5])
c=a+b
print(c)

[ 6  6 10]

In [69]:
m=int(input("m="))
n=m*a
print(n)

m=4
[ 4 16 20]